* {
    margin: 0px;
    padding: 0px;
    font-family: Manrope, sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: flex-start;
    border-bottom: .1px solid #CAA62E;
    background: rgba(248, 247, 246, 0.8);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.navbar ul {

    list-style: none;
}

.navbar li {
    display: inline-block;
}

.navbar img {
    width: 178px;
}

.menu {
    padding-top: 30px;
}

.menu li {
    margin-left: 60px;
    font-size: 20px;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: rgba(10, 40, 50);

    &:hover {
        color: #CAA62E;
    }
}

.icon {
    padding-top: 20px;
    margin-left: 200px;
}

.search {
    position: relative;
}

.search i {
    position: absolute;
    margin: 11px 10px;
    font-size: 16px;
    color: #757579;
}

.search input {
    padding: 10px 40px 10px 40px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    width: 300px;

    &:focus {
        border: 1px solid #CAA62E;
    }
}

.favorite {
    padding: 0px 15px 0px;
    cursor: pointer;
    font-size: 22px;

    &:hover {
        color: #CAA62E;
    }
}

.icon-link {
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 24px;
    cursor: pointer;
}

#wishlist-count{
    position: absolute;
    top: -8px;
    right: -10px;

    background: red;
    color: white;

    width: 18px;
    height: 18px;

    font-size: 12px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping_cart {
    cursor: pointer;
    font-size: 22px;

    &:hover {
        color: #CAA62E;
    }
}

.hero {
    background: linear-gradient(rgba(32, 29, 18, 0.6),
            rgba(32, 29, 18, 0.6)),
        url('https://lh3.googleusercontent.com/aida-public/AB6AXuD9YSXm8NKyRpM69mcAI1dKZHULFzGr9y8fRgKG4IUCYYbwwvyVFKk4w-MWqMNT9Xt9ETVLRPYishdhq-hg9X12xFhDBgvYzF1nzJVt9myBQBONe_RVSofj4dbaUlkucPC9pJ3UnS4zNbh4lfHML4dsJ_BlzXQMN4V7iAr5oIkzJMKBGE4HkwOK0nrb9y2YOvyLrL1Bhg-9K39NsBxQ6Zk3z8jEVgYLhpxcnfQM2qLHOgnCDBeTrurGxqq99_pvv9Eb0_nb6GeB0BY');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height: 670px;
}

.hero-content {
    padding-left: 100px;
}

.hero-p1 {
    display: inline-block;
    border: 0.8px solid #CAA62E;
    padding: 5px;
    font-size: 11px;
    margin-bottom: 50px;
    border-radius: 20px;
    background: rgba(218, 170, 13, 0.2);
    height: 10px;
    width: 150px;
    text-align: center;
}

.hero-content h1 {
    font-size: 100px;
}

.hero-p2 {
    padding: 30px 0px 30px 0px;
    font-size: 19px;
}

.primary-btn {
    padding: 15px 40px;
    background: #CAA62E;
    border: none;
    border-radius: 5px;
    color: rgba(10, 40, 50);
    margin-right: 15px;
    font-size: 18px;

    &:hover {
        box-shadow: 1px 1px 8px #CAA62E;
    }
}

.secondary-btn {
    padding: 15px 40px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;

    &:hover {
        background: rgba(255, 255, 255, 0.4);
    }
}

.category {
    width: 100%;
    color: rgba(10, 40, 50);
    background: #F8F7F6;
    padding-block: 30px;
}

.category-text {
    padding: 50px 80px 20px 80px;
}

.category-text h3 {
    font-size: 35px;
}

.category-content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.category-img {
    display: flex;
    gap: 35px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-left: 50px;
    justify-content: space-evenly;
}

.category-img::-webkit-scrollbar {
    display: none;
}

.item {
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.img-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative;
    transition: 0.3s;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}

.item:hover {
    transform: translateY(-6px);
    color: #CAA62E;
}

.item:hover .img-box {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.item:hover img {
    transform: scale(1.2);
}

.item:hover .img-box::after {
    opacity: 1;
    transform: scale(1);
}

.item p {
    margin-top: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.masterpice-content {
    padding: 40px 0;
}

.card {
    margin-right: 10px;
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all .3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.card-img {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wishlist-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 50%;

    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    transition: all 0.25s ease;
}

.wishlist-btn i {
    font-size: 18px;
    color: #444;
    transition: transform 0.2s ease, color 0.2s ease;
}

.wishlist-btn:hover {
    transform: scale(1.1);
}

.wishlist-btn:hover i {
    color: #e63946;
}

.wishlist-btn.active i {
    color: #e63946;
}

.wishlist-btn.animate i {
    animation: heartPop 0.4s ease;
}

@keyframes heartPop {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    margin: 0;
    font-size: 20px;
}

.category-product {
    color: #777;
    margin: 5px 0 15px;
}



.price {
    color: #caa233;
    font-size: 22px;
    font-weight: bold;
}

.cart-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #caa233;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.cart-btn:hover {
    background: #b8942a;
}

.products-header {
    text-align: center;
    padding-bottom: 25px;
}

.products-header h1 {
    font-size: 28px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.masterpice-content h2 {
    text-align: center;
    font-size: 45px;
    margin: 50px 400px 50px 400px;
    color: rgb(10, 40, 50);
    border-bottom: 3px solid #CAA62E;
    padding-bottom: 5px;
}

html {
    scroll-behavior: smooth;
}

.our-services {
    background: #F8F7F6;
    padding: 70px;
}

.rate-product h2 {
    color: rgb(10, 40, 50);
    font-size: 50px;
    margin-bottom: 10px;
}

.number-of-services {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.happy-customers {
    padding-right: 10px;
    border-right: 1px solid #CAA62E;
}

.number-of-services h2 {
    color: #CAA62E;
}

.testimonials {
    background: #183B4A;
    padding: 80px 60px;
    color: white;
}


.testimonials-header {
    text-align: center;
    margin-bottom: 60px;
}

.testimonials-header h2 {
    color: #d4af37;
    letter-spacing: 3px;
    font-size: 34px;
}

.testimonials-header p {
    margin-top: 10px;
    color: #d0d0d0;
    font-style: italic;
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.testimonial-card {
    background: #234b5a;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

.stars {
    color: #d4af37;
    font-size: 22px;
    margin-bottom: 15px;
}

.review {
    line-height: 1.7;
    color: #e6e6e6;
    margin-bottom: 25px;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #d4af37;
}

.user h4 {
    margin: 0;
}

.user span {
    font-size: 14px;
    color: #bfbfbf;
}

.footer {
    background: #f2f4f5;
    padding: 70px 80px 30px 80px;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 60px;
}

.logo {
    color: #183B4A;
    font-size: 26px;
}

.logo-icon {
    color: #caa233;
    margin-right: 8px;
}

.footer-brand p {
    color: #5b6b74;
    line-height: 1.8;
    margin: 18px 0;
}

.footer-links h3 {
    padding-top: 15px;
    color: #183B4A;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 15px;
}

.footer-links a {
    display: block;
    color: #5b6b74;
    margin-bottom: 12px;
    text-decoration: none;
    transition: .3s;
}

.footer-links a:hover {
    color: #caa233;
    padding-left: 6px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background: #183B4A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition: .3s;
}

.social-icons a:hover {
    background: #caa233;
}

.footer-bottom {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    color: #6b7a84;
    font-size: 14px;
}