* {
    margin: 0px;
    padding: 0px;
    font-family: Manrope, sans-serif;
}

.new-arrivals h2 {
    text-align: center;
    font-size: 45px;
    margin: 50px 400px 50px 400px;
    color: rgb(10, 40, 50);
    border-bottom: 3px solid #CAA62E;
    padding-bottom: 5px;
}

html {
    scroll-behavior: smooth;
}

.main-navbar {
    width: 94%;
}

nav li.Logo {
    margin: 0px;
}

#navbar-root #wishlist-count {
    padding: 0px;
}