* {
    margin: 0px;
    padding: 0px;
    font-family: Manrope, sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: flex-start;
    border-bottom: .1px solid #CAA62E;
    background: rgba(248, 247, 246, 0.8);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.navbar ul {

    list-style: none;
}

.navbar li {
    display: inline-block;
}

.navbar img {
    width: 178px;
}

.menu {
    padding-top: 30px;
}

.menu li {
    margin-left: 60px;
    font-size: 20px;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: rgba(10, 40, 50);

    &:hover {
        color: #CAA62E;
    }
}

.icon {
    padding-top: 20px;
    margin-left: 200px;
}

.search {
    position: relative;
}

.search i {
    position: absolute;
    margin: 11px 10px;
    font-size: 16px;
    color: #757579;
}

.search input {
    padding: 10px 40px 10px 40px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    width: 300px;

    &:focus {
        border: 1px solid #CAA62E;
    }
}

.favorite {
    padding: 0px 15px 0px;
    cursor: pointer;
    font-size: 22px;

    &:hover {
        color: #CAA62E;
    }
}

.icon a {
    text-decoration: none;
    color: black;
}

.shopping_cart {
    cursor: pointer;
    font-size: 22px;

    &:hover {
        color: #CAA62E;
    }
}


.new-arrivals {
    padding: 40px 0;
}

.card {
    margin-right: 10px;
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all .3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.card-img {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite-product {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.favorite-product.active {
    color: #caa233;
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    margin: 0;
    font-size: 20px;
}

.category-product {
    color: #777;
    margin: 5px 0 15px;
}



.price {
    color: #caa233;
    font-size: 22px;
    font-weight: bold;
}

.cart-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #caa233;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.cart-btn:hover {
    background: #b8942a;
}

.products-header {
    text-align: center;
    padding-bottom: 25px;
}

.products-header h1 {
    font-size: 28px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.new-arrivals h2 {
    text-align: center;
    font-size: 45px;
    margin: 50px 400px 50px 400px;
    color: rgb(10, 40, 50);
    border-bottom: 3px solid #CAA62E;
    padding-bottom: 5px;
}

html {
    scroll-behavior: smooth;
}