* {
    padding: 0px;
    margin: 0px;
    font-family: 'Manrope', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #FEFDFD;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 500;
}

nav li {
    display: none;
    display: inline-block;
    padding-left: 22px;
    margin-top: 25px;

}

li a {
    text-decoration: none;
    color: black;

    &:hover {
        color: #D0B04B;
        cursor: pointer;

    }
}

.menu {
    padding-bottom: 10px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;

}

ul {
    display: inline-block;
}

.icons {
    margin-right: 15%;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}




.search-box {
    position: relative;
    bottom: 12px;
    margin-left: 15px;
}

.search-box i {
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    color: #DDC57A;
    font-size: 20px;

}

.search-box input {
    padding-left: 39px;
    width: 250px;
    height: 44px;
    border-radius: 20px;
    border: .1px solid;
    border-color: #DDC57A;
    color: #DDC57A;
    font-size: 15px;
    background-color: #F8F5EE;

}

input:focus {
    outline-color: #DDC57A;

}

input::placeholder {
    color: #DDC57A;
}