<nav class="main-navbar">
    <ul class="menu">
        <li class="Logo">
            <img src="../ASSESTs/555.png" alt="Logo">
            <h4>KEMET</h4>
        </li>
        <li><a href="index.html">Home</a></li>
        <li><a href="Product.html">Shop</a></li>
        <li><a href="newArrivals.html">New Arrivals</a></li>
    </ul>

    <ul class="icons">
        <li class="favorite">
            <a href="/HTMLs/whishlistPage.html" class="icon-link">
                <i class="fi fi-rr-heart"></i>
                <span id="wishlist-count">0</span>
            </a>
        </li>
        <li class="shopping_cart">
            <a href="/HTMLs/Cart.html" class="icon-link">
                <i class="fi fi-rr-shopping-cart"></i>
            </a>
        </li>
        <li class="user-profile">
            <a href="#" class="icon-link" id="user-menu-toggle">
                <i class="fi fi-rr-user"></i>
            </a>
            <div class="user-dropdown" id="user-dropdown">
                <a href="#" class="dropdown-item">Orders</a>
                <a href="#" class="dropdown-item" id="logout-btn">Logout</a>
            </div>
        </li>
    </ul>
</nav>